body{
	background-color:#FFFFFF;
}

nav{
	background-color:#5bc5a7 !important;
	border:none !important;
	height:50px !important;
	margin:0px !important;
}


.navbar-brand {
    position: absolute;
    left: -150px;
    color:#FFFFFF !important;
    /*width: 100px;*/
    background: none;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide 0.5s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slide {
    100% { left: 600px; }
}

@keyframes slide {
    100% { left: 600px; }
}

.app_container .container{
	padding:0px !important;
	width:100% !important;
}

#contact_column_inner{
	
}

#chat_column{
	margin:0px !important;
}

#chat_column_inner{
	margin-left:20px;
}

#search{
	/*border-radius:20px;
	padding:5px;
	*/
}

#contact_column{
	
}
.contacts{
	padding:0px;
	border-right:1px solid #5BC5A7;
	overflow: auto;
}
.contacts ul{
	padding-left:20px;
	/*border:1px solid #E1E1E1 !important;*/
	border:none;
	height:680px;
	overflow: auto;
	/*box-shadow: 5px 5px 3px #888888;*/
}

.contacts li#search{
	background-color: #5bc5a7 !important;
	display: block
}
.contacts li{
	list-style: none;
	border-bottom:1px solid #e1e1e1 !important;
	height:60px;
	padding-left:15px;
    line-height:60px;
    cursor: pointer;
    font-size: 20px;
}

.contacts li:nth-child(1){
	border-top:1px solid #e1e1e1 !important;
}

.contacts li a{
	cursor: pointer;
	text-decoration:none;
	color:gray;
}

.contacts li div{
	display: inline;
}


.contact_icon{
	width: 20px;
	height: 20px;
	/*border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;*/
	display: inline;
}

.contact_icon img{
	width: 20px;
	height: 20px;
}


.contacts ::-webkit-scrollbar {
	/*background:#202020;*/
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,255,0.4); 
}

#contact_column h3{
	color:gray;
	font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif!important;
}

.contact_icon{
	margin:1px;
	color:gray;
}

.info img{
	/*border:2px dotted #000000;*/
	padding:2px;
	color:#5bc5a7;
	width:100px;
	height:100px;
}

#details{
	padding:10px;
	display:block;
}

#name span{
	font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif!important;
	font-size:28px;
	color:#5bc5a7;
}

#number{
	color:#5bc5a7;
}

#chat{
	height:83px;
	margin-bottom:20px;
}

#chat_box{
	border-bottom:1px solid #E1E1E1 !important;
	width:100%;
	height: 420px;
	margin:0px !important;
}

#chat_box ul{
	height: 420px;
	width:100%;
	overflow: auto;
}

#chat_box ul li{
	list-style: none;
}


#chat_box ul li[type=sent]{
	background-color:#5bc5a7;
	float:left;
	clear:both;
	width:auto;
	display: block;
	margin:5px;
	padding:5px;
	color:#FFFFFF;
	border-radius:10px;
	font-size:12px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


#chat_box ul li[type=recv]{
	background-color:gray;
	float:right;
	clear:both;
	width:auto;
	display: block;
	margin:5px;
	padding:5px;
	color:#FFFFFF;
	border-radius:10px;
	font-size:12px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#search_container{
	width:205px;
	height:30px;
	padding:0px;
}

#search{
	/*border-radius: 10px;*/
	display:inline;
	border:none;
	float:left;
}

#clear_search{
	display:inline;
}

#message{
	margin-top:20px;
	width:90%;
	margin-right:20px;
}

.notification{
	margin-left: 20px;
}

#search_container{
	margin-bottom: 20px;
}
#search_container ::-webkit-input-placeholder {
   color: gray;
   font-size:18px;
}

#search_container :-moz-placeholder { /* Firefox 18- */
   color: gray;  
}

#search_container ::-moz-placeholder {  /* Firefox 19+ */
   color: gray;  
}

#search_container :-ms-input-placeholder {  
   color: gray;  
}

textarea:focus, input:focus{
    outline: 0;
}

#submit{
	background-color:#5bc5a7 !important;
}

.contacts li.activate > a{
	color:#5bc5a7;
}

#find_contact{
	/*/*padding:0px ;*/
	display: inline;
	background-color:#5bc5a7;
}

#find_contact > span{
	top:7px;
	left:28px;
	position:absolute;
}

#find_contact > #inputdefault{
	height:60px;
	font-size:28px;
	border:none;
	border-bottom:1px solid #e1e1e1 !important;
	width:200px !important;
	top:20px;
}

#find_contact > #inputdefault:focus{
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
